<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-dark text-light">Sign Up</div>
        <div class="card-body">
          <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="form-group">
              <label class="form-element" for="fullName">Full Name:</label>
              <input type="text" class="form-control" formControlName="fullName" id="fullName" placeholder="Enter full name">
              <div *ngIf="signupForm.controls['fullName'].touched && signupForm.controls['fullName'].errors?.['required']" class="text-danger">
                Full Name is required.
              </div>
            </div>
            <div class="form-group">
              <label class="form-element" for="email">Email:</label>
              <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter email">
              <div *ngIf="signupForm.controls['email'].touched && signupForm.controls['email'].errors?.['required']" class="text-danger">
                Email is required.
              </div>
              <div *ngIf="signupForm.controls['email'].touched && signupForm.controls['email'].errors?.['email']" class="text-danger">
                Invalid email format.
              </div>
            </div>
            <div class="form-group">
              <label class="form-element" for="phone">Phone:</label>
              <input type="text" class="form-control" formControlName="phone" id="phone" placeholder="Enter phone">
              <div *ngIf="signupForm.controls['phone'].touched && signupForm.controls['phone'].errors?.['required']" class="text-danger">
                Phone is required.
              </div>
              <div *ngIf="signupForm.controls['phone'].touched && signupForm.controls['phone'].errors?.['pattern']" class="text-danger">
                Phone should be 10 digits.
              </div>
            </div>
            <div class="form-group">
              <label class="form-element" for="password">Password:</label>
              <input type="password" class="form-control" formControlName="password" id="password" placeholder="Enter password">
              <div *ngIf="signupForm.controls['password'].touched && signupForm.controls['password'].errors?.['required']" class="text-danger">
                Password is required.
              </div>
              <div *ngIf="signupForm.controls['password'].touched && signupForm.controls['password'].errors?.['minlength']" class="text-danger">
                Password should be at least 8 characters long.
              </div>
              <div *ngIf="signupForm.controls['password'].touched && signupForm.controls['password'].errors?.['pattern']" class="text-danger">
                Password should contain at least one uppercase letter, one lowercase letter, one digit, and one special character.
              </div>
            </div>
            <div class="form-group">
              <label class="form-element" for="confirmPassword">Confirm Password:</label>
              <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" placeholder="Confirm password">
              <div *ngIf="confirmPasswordError" class="text-danger">
                Passwords do not match.
              </div>
            </div>
  
            <button id="submit-button" type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
