<div class="dashboard-container">
  <div class="dashboard-header">
    <div class="category-dropdown">
      <select class="form-control mx-auto my-2" [(ngModel)]="selectedCategory" (ngModelChange)="updateProducts()">
        <option value="" disabled selected>Select a category</option>  
        <option *ngFor="let category of categories" [value]="category">  
          {{category}} 
        </option> 
      </select>  
    </div>
    <div class="search-bar">
     <input type="text" class="form-control mx-auto my-2" [(ngModel)]="searchText" (ngModelChange)="updateProducts()" placeholder="Search...">
    </div>
  </div> 
  <div class="product-table">
    <table class="table">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td><a [routerLinkActive]="'active'" class="product-link" (click)="navigateToProductDetails(product)">{{ product.name }}</a></td>
          <td>{{ product.description }}</td>
          <td>{{ product.price }}</td>
          <td><a><img id="productImg" src="{{ product.imageLink }}" (click)="navigateToProductDetails(product)" alt="Product Image"></a></td>
        </tr>
                 
      </tbody>
    </table>
  </div>

